html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  border-bottom: 1px rgb(161, 156, 156) solid;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  background-color: rgb(81, 114, 103);
  width: 100%;
  color: rgb(255, 255, 255);
}

nav {
  display: flex;
  text-align: center;
  padding: 10px;
  align-items: center;
}
.ri-menu-3-line {
  font-size: 3vw;
  font-weight: 600;
  display: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

main {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section1 img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.section1 h2 {
  font-size: 2.5rem;
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.catGrid img {
  width: 100%;
  height: auto;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* || SMALL MOBILE */
@media (max-width: 481px) {
  header {
    background-color: #D1942F;
    width: 198%;
  }
  h1 {
    font-size: 6vw;
  }
  a {
    display: none;
  }
  .ri-menu-3-line {
    font-size: 6vw;
    display: block;
  }
  .button {
    background-color: rgb(81, 114, 103);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  main {
    background-color: #A1511E;
    display: flex;
    flex-direction: column;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 94%;
  }
   h2 {
    font-size: 6.8vw;
  }
  .section1 p {
    font-size: 3.6vw;
    column-count: 1;
    margin-bottom: 25px;
  }
  .här {
    margin-bottom: 30px;
  }
  .section {
    width: 94%;
  }
  .section3 
    {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 50px;
      gap: 4px;
      text-align: center;
  }
  .mejl {
    display: block;
  }
  footer {
    display: flex;
    justify-content: center;
    width: 200%;
  }
  
}


/*
.section {
  padding: 40px;
  background-color: #f1f1f1;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.section1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;